@{
    var student = ViewBag.Student;
}
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Header</h1>

    <h2>Student Id : @student.StudentId</h2>
    <h2>Student Name: @student.StudentName</h2>
    <h2>Student Branch: @student.StudentBranch</h2>
    <h2>Student Section: @student.StudentSection</h2>
    <h2>Student Gender: @student.StudentGender</h2>
</body>
</html>